
body {
    margin: 0%;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #1c1c1e;
    color: white;
    padding: 40px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 2.5em;
  }
.contenedor{
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto;
    margin-top: 20px;
  }


nav li {
    display: inline;
    margin-right: 20px;
    text-decoration: underline;
}
  
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

section h2{
    font-size: 200%;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

p{
    margin: 20px;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
th, td {
    text-align: center;
    border: 1px solid black;
}
  
th {
    color: rgb(0, 0, 0);
}
  
td {
    background-color: #f9f9f9;
}

.imagenes{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}

.imagenes img{
    width: 30%;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a{
    text-decoration: white;
    font-weight: bold;
    color: white;
}

  